@media only screen and (max-width: 1360px) {

/*-- Footer --*/

.to_top_btn {
    width: 100px;
    height: 100px;
	bottom: 21px;
	right: 0;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1240px) {

/*-- Header --*/

.header_top_row {
    padding: 5px 0 0 0;
}

.header_top_row > .left {
    width: 35%;
    padding: 5px 5px 5px 0;
}

.header_top_row > .center {
    width: 30%;
    padding: 5px 5px 5px 5px;
}

.header_top_row > .right {
    width: 35%;
    padding: 5px 0 5px 5px;
}

.inlines {
    margin: 29px 0 10px -5px;
}

.inlines > div {
    padding: 0 5px;
}

.search_shape_1 {
    left: -145px;
    width: 129px;
}

.search_shape_4 {
    right: -38px;
}

.soc_list_wrapp h3 {
	font-size: 13px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.article > .left_col {
    width: calc(100% - 500px);
}

.article > .right_col {
    width: 500px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumb_poster_wrapp {
    width: 210px;
    height: 200px;
}

.thumb {
    min-height: 330px;
    padding: 10px 0 10px;
}

.slick-current .thumb .slide_title h3 {
    font-size: 29px;
    line-height: 37px;
}

.slick-current .thumb .thumb_poster_wrapp {
    width: 226px;
    height: 233px;
}

.thumb img {
    display: block;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    max-width: 100%;
    max-height: 100%;
}

.slider_1 .slick-prev {
    left: 25px;
}

.slider_1 .slick-next {
    right: 25px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.product_templ > .left_col {
    width: 250px;
}

.product_templ > .right_col {
    width: calc(100% - 250px);
    padding-left: 20px;
}

.slider_templ > .left_col {
    width: calc(100% - 360px);
}

.slider_templ > .right_col {
	width: 360px;
}

.good_slider {
	height: 344px;
}

.good_slider .slide {
	height: 344px;
}

.good_miniature_slider .slide {
    width: 80px !important;
    height: 80px;
}

.table_1 h3 {
    font-size: 16px;
    line-height: 20px;
}

.card_descript p {
    font-size: 14px;
    line-height: 18px;
}

.card_descript_2 {
	padding-top: 20px;
}

.card_descript_2 p {
    font-size: 14px;
    line-height: 21px;
}

.good_link {
    padding: 0 5px 0 10px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.tabs li {
    padding: 7px 7px;
}

.gradients_thumbs {
    margin: 10px -7px 20px -7px;
}

.gradient_thumb {
    width: calc(50% - 14px);
    min-height: 200px;
    margin: 7px;
}

.gradient_thumb.big {
    width: calc(100% - 14px);
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.rew_pill.blue_pill_2 {
    font-size: 17px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 3 - Product Page --*/

.video_big {
    height: 500px;
}

/*-- /Section 3 - Product Page --*/

}

@media only screen and (max-width: 1124px) {

/*-- Header --*/

.header_top_row > .left {
    width: 25%;
    padding-right: 20px;
}

.header_top_row > .center {
    width: 38%;
}

.header_top_row > .right {
    width: 37%;
}

.soc_list_wrapp h3 {
    font-size: 12px;
}

.main_nav > li > a {
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    line-height: 25px;
}

.log_list {
    margin: 0 -9px;
}

.log_list li {
    padding: 0 9px;
}

.products_cols > li {
    width: 33.33%;
}

/*-- /Header --*/

/*-- Section 1 - Contacts Page --*/

.contacts_templ > .left_col {
    width: 260px;
}

.contacts_templ > .right_col {
    width: calc(100% - 260px);
}

.contact_thumb h3 {
    font-size: 20px;
}

/*-- /Section 1 - Contacts Page --*/

}

@media only screen and (max-width: 1024px) {

.visible_1024 {
    display: block;
}

.novisible_1024 {
	display: none;
}

/*-- Section 1 - Main Page --*/

.article {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
    margin: 15px 0;
}

.article > .left_col {
    width: 100%;
    padding: 10px 0;
}

.article > .right_col {
    width: 100%;
    padding: 10px 0;
}

.main_video_sect {
    margin: 18px auto;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 4 - Main Page --*/

.product_templ {
    padding: 19px 0 10px 0;
}

.product_templ > .left_col {
    width: 100%;
    padding-top: 0;
}

.product_templ > .right_col {
    width: 100%;
    padding: 26px 0 2px 0;
}

.scroll_inner {
    height: 445px;
}

.good_link {
    padding: 0 5px 0 20px;
}

.scroll_sidebar {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 3;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 6 - Main Page --*/

.rew_pill.blue_pill_2 {
    font-size: 14px;
}

.pink_thumb p {
    font-size: 18px;
    line-height: 23px;
}

.testimonials_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.testimonials_2 .testimonial_2 {
    width: 100%;
    min-height: auto;
    margin: 10px 0;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 1 - Contacts Page --*/

.captcha_inlines {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	width: 100%;
	margin: 0 -6px;
}

.captcha_inlines > div {
	width: 50%;
	padding: 6px;
}

.captcha_templ {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.captcha_templ > div:nth-child(2) {
    width: 100%;
    padding: 5px 0 5px 0;
}

.captcha_form {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.captcha_form > div:nth-child(1) {
    width: 100%;
    padding: 5px 0;
}

.captcha_form > div:nth-child(2) {
    width: 100%;
    padding: 5px 0;
}

/*-- /Section 1 - Contacts Page --*/

}


@media only screen and (max-width: 900px) {

.row {
	padding: 0 15px;
}

.wrapper {
    padding-top: 140px;
}

/*-- Header --*/

.main_header {
	display: none;
}

.res_header {
	display: block;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
}

.res_header_templ {
	background: #625393;
	backdrop-filter: blur(25px);
	padding-top: 3px;
}

.res_header_templ_row {
	display: flex;
	display: -webkit-flex;
}

.res_header_templ_row > .left {
	width: 70px;
	padding: 10px 5px 10px 0;
}

.res_header_templ_row > .center {
	width: calc(100% - 140px);
	padding: 10px 5px;
}

.res_header_templ_row > .right {
	width: 70px;
	padding: 10px 0 10px 5px;
}

.resp_log_wrap {
    padding: 15px 0 15px 0;
}

.resp_log {
	display: block;
	max-width: 130px;
	margin: 0 auto;
	position: relative;
}

.resp_log:after {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -10px;
	left: 0;
}

.resp_log img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}

.respmenubtn_wrapp {
	position: relative;
	top: 15px;
}

.resp_btn_shape {
	position: absolute;
	top: -2px;
	left: 0;
	z-index: 2;
}

.resp_login {
	display: inline-flex;
	display: -webkit-inline-flex;
	padding: 2px 0;
	background: #F8F8F8;
	border: 2px solid #A3ADFF;
	border-radius: 13px;
	-webkit-border-radius: 13px;
}

.resp_login li {
	padding: 0 18px;
	line-height: 1;
	border-right: 1px solid #A3ADFF;
}

.resp_login li:last-child {
	border-right: none;
}

.resp_log_link {
	display: inline-block;
	vertical-align: top;
	font-family: 'Manrope';
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #3A4178;
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_log_link:link,
.resp_log_link:visited {
    color: #3A4178;
}

.resp_log_link:active,
.resp_log_link.active {
	color: #ff0000;
}

.resp_log_link:hover {
	color: #ff0000;
}

.resp_inlines {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	margin: 0 -7px;
	padding-top: 19px;
}

.resp_inlines > div {
	padding: 0 7px;
}

.center_inner {
	position: relative;
	text-align: center;
	max-width: 160px;
	margin: 0 auto;
}

.resp_left_shape {
	position: absolute;
    bottom: -10px;
    left: -85px;
}

.resp_right_shape {
	position: absolute;
	bottom: -10px;
	right: -23px;
}

.res_header_blue {
	background: #8A96FF;
	border-bottom: 1px solid #fff;
}

.res_header_blue_templ {
	display: flex;
	display: -webkit-flex;
}

.res_header_blue_templ > .left {
	width: 50%;
	padding: 10px 10px 10px 0;
}

.res_header_blue_templ > .right {
	width: 50%;
	padding: 10px 0 10px 10px;
}

.grey_btn {
	display: inline-flex;
	display: -webkit-inline-flex;
	cursor: pointer;
	height: 25px;
	padding: 1px 16px 1px 16px;
	background: #F8F8F8;
	border: 1px solid #7785F8;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	font-size: 16px;
	line-height: 22px;
	color: #3A4178;
}

.grey_btn:after {
	display: block;
	content: "";
	width: 12px;
	height: 7px;
	margin-left: 10px;
	background: url(img/product_dr.svg) no-repeat center;
	position: relative;
	top: 7px;
}

.resp_inlines_2 {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.resp_inlines_2 > div {
	padding: 0 6px;
}

.resp_nav {
	display: none;
	padding-bottom: 30px;
	background: #625393;
	backdrop-filter: blur(25px);
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
}

.resp_nav > .row {
	position: relative;
	z-index: 2;
}

.resp_nav_shape {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.resp_nav_header {
	display: flex;
	display: -webkit-flex;
	padding: 42px 0 20px 0;
}

.resp_nav_header > .left_col {
	width: calc(100% - 54px);
	padding: 3px 0 0 0;
}

.resp_nav_header > .right_col {
	width: 54px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.resp_logo_2 {
	display: block;
	max-width: 225px;
	cursor: pointer;
}

.resp_logo_2 > img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}

.close_btn {
    display: block;
    width: 32px;
    height: 32px;
    background: transparent;
    cursor: pointer;
    border: none;
    background: url(img/close.svg) no-repeat center;
}

.resp_nav_list {
    margin: 24px 0 20px 0;
}

.resp_nav_list li {
	padding: 12px 0 12px 0;
}

.resp_nav_list li a {
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.resp_nav_list li a:link,
.resp_nav_list li a:visited {
    color: #FFF;
}

.resp_nav_list li a:active,
.resp_nav_list li a.active {
	color: #ff0000;
}

.resp_nav_list li a:hover {
	color: #ff0000;
}

.resp_login_2_cener {
	padding: 20px 0 44px 0;
	text-align: center;
}

.resp_login_2 {
	display: inline-flex;
	display: -webkit-inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	min-width: 220px;
	padding: 9px 10px;
	border: 1px solid #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

.resp_login_2 li {
	padding: 0 15px;
	border-right: 1px solid #fff;
}

.resp_login_2 li:last-child {
	border-right: none;
}

.resp_log_link_2 {
	font-size: 16px;
	line-height: 16px;
	color: #FFF;
    -webkit-transition-property: color;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_log_link_2:link,
.resp_log_link_2:visited {
    color: #FFF;
}

.resp_log_link_2:active,
.resp_log_link_2.active {
	color: #ff0000;
}

.resp_log_link_2:hover {
	color: #ff0000;
}

.soc_list_wrapp_resp h3 {
    font-size: 16px;
}

.soc_list_resp li {
    padding: 2px 3px;
}

.resp_catalog_slider {
	width: 297px;
	background: linear-gradient(142.72deg, #E1E8FF -1.7%, #F4F7FF 88.91%);
	border: 1px solid #A3ADFF;
	backdrop-filter: blur(200px);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 0 16px 0 16px;
	position: absolute;
	top: calc(100% + 13px);
	left: -200vw;
	opacity: 0;
	-webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_catalog_scroll {
	height: calc(100vh - 300px);
}

.resp_catalog_scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
    background: rgba(172, 175, 204, .2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.resp_catalog_scroll .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: rgba(172, 175, 204, 1);
}

.resp_catalog_scroll .mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
    height: 100%;
    opacity: 0;
}

.resp_catalog_scroll .mCSB_scrollTools .mCSB_draggerContainer {
    right: -7px;
}

.resp_catalog_wrapp.active .resp_catalog_slider {
	left: 0;
	opacity: 1;
}

.resp_catalog_slider:before {
	display: block;
	content: "";
	width: calc(100% - 40px);
	height: 2px;
	background: #A3ADFF;
	position: absolute;
	top: -1px;
	left: 20px;
}

.resp_catalog_slider .dr_tr {
	position: absolute;
	top: -23px;
    left: 58px;
	z-index: 2;
	opacity: 1;
}

.resp_catalog_wrapp .grey_btn:after {
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-webkit-transition-property: transform;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.resp_catalog_wrapp.active .grey_btn:after {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}

.products_cols_2 > li {
    width: 100%;
}

.products_cols_2 .good_thumb {
    min-height: 136px;
}

.products_cols_2 .good_thumb > div:nth-child(1) {
    width: 120px;
}

.products_cols_2 .good_thumb > div:nth-child(2) {
    padding-top: 29px;
    width: calc(100% - 120px);
}

.products_cols_2 .good_thumb:hover > div:nth-child(1) img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.catalog_dots .slick-dots {
    align-content: none;
    -webkit-align-content: none;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 14px 0 16px 0;
    width: 100%;
    left: 0;
    height: auto;
    background: transparent;
}

.catalog_dots .slick-dots button {
    display: block;
    height: 32px;
    min-width: 32px;
    padding-bottom: 1px;
    width: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFF;
    text-align: center;
	border: 1px solid #A3ADFF;
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 14px;
	line-height: 31px;
	color: #3A4178;
}

.catalog_dots .slick-dots .slick-active button {
    background: #FFF;
}

.catalog_dots .slick-dots li {
    flex: none;
    line-height: 3px;
    padding: 5px;
}

.catalog_dots .slick-dots li.slick-active button {
	box-shadow: 0 2px 3px #E1E1E1;
	-webkit-box-shadow: 0 2px 3px #E1E1E1;
}

.res_header.scroll .resp_log_wrap {
    padding: 5px 0 6px 0;
}

.res_header.scroll .res_header_templ_row > .center {
    padding: 4px 5px;
}

.res_header.scroll .respmenubtn_wrapp {
   	top: 3px;
}

.res_header.scroll .resp_inlines {
    padding-top: 4px;
}

.res_header.scroll .resp_log:after {
    bottom: -6px;
}

.res_header.scroll .res_header_blue_templ > .left {
    padding: 1px 10px 1px 0;
}

.res_header.scroll .res_header_blue_templ > .right {
    padding: 1px 0 2px 10px;
}

.res_header.scroll .resp_left_shape {
    bottom: -4px;
}

.res_header.scroll .resp_right_shape {
    bottom: -4px;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.sect_1 {
    padding-bottom: 15px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

.sect_1_shape_1,
.sect_1_shape_2,
.sect_1_shape_3 {
	display: none;
}

.article_2 {
    margin: 18px 0;
}

.article_2 {
    margin: 30px 0;
}

.article_2 p + h3 {
    padding-top: 30px;
}

.article h2 {
    padding: 10px 0;
    font-size: 28px;
    line-height: 40px;
}

.article p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 23px;
}

.article p.blue {
    font-size: 18px;
    line-height: 22px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

h2 {
    font-size: 32px;
    line-height: 41px;
}

.sect_1_shape_4,
.sect_1_shape_5 {
	display: none;
}

.single_title_sect {
    padding: 39px 0 46px 0;
    background: radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #E4E9FF 100%);
}

.single_title_sect:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 351px;
	height: 258px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
	border: 1px solid #FFF;
}

.single_title_h2 {
    margin-bottom: 24px;
}

.single_title_h2:after {
    width: 100px;
    margin: 10px auto;
}

.single_title p {
    font-size: 14px;
    line-height: 19px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_1_shape_6,
.sect_1_shape_8,
.sect_1_shape_7 {
	display: none;
}

.slick-current .thumb .thumb_poster_wrapp {
    width: 170px;
    height: 191px;
}

.slide_title {
    padding: 13px 0 12px;
}

.slide_title h3 {
    font-size: 20px;
    line-height: 29px;
}

.slick-current .thumb .slide_title {
    padding: 14px 0 7px;
}

.slick-current .thumb .slide_title h3 {
    font-size: 24px;
    line-height: 30px;
}

.thumb_poster_wrapp {
    width: 170px;
    height: 139px;
}

.thumb {
    min-height: 251px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_1_shape_9,
.sect_1_shape_10 {
	display: none;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_1_shape_4,
.sect_1_shape_5 {
	display: none;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_1_shape_10 {
	display: none;
}

.gradients_thumbs .col_big {
    width: 100%;
    
}

.gradients_thumbs .col_small {
    width: 100%;
}

.gradient_thumb.big {
    min-height: 200px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6 {
	background: radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #D1D6FF 100%);
	background: -webkit-radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #D1D6FF 100%)
}

.rew_two_cols {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.rew_two_cols > .left_col {
    width: 100%;
    padding-right: 0;
}

.rew_two_cols > .right_col {
    width: 100%;
    padding-left: 0;
}

.header_two_cols {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.header_two_cols > .left_col {
    width: 100%;
    padding-right: 0;
}

.header_two_cols > .right_col {
    width: 100%;
    padding: 0;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 3 - Product Page --*/

.sect_3_p_p {
	position: relative;
	background: radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #F8F8F8 100%);
}

.sect_3_p_p:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 351px;
	height: 258px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
	border: 1px solid #FFF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.sect_1_shape_11 {
	display: none;
}

.video_big {
    height: 400px;
}

/*-- /Section 3 - Product Page --*/

/*-- Section 4 - Product Page --*/

.sect_1_shape_9,
.sect_1_shape_11 {
	display: none;
}

.sect_4_product:before {
	display: block;
	content: "";
	width: 351px;
	height: 258px;
	background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
	border: 1px solid #FFF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

/*-- /Section 4 - Product Page --*/

/*-- Section 5 - Product Page --*/

.sect_1_shape_5 {
	display: none;
}

.sect_5_product {
	background: radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #E0E5FF 100%);
}

.sect_5_p_shape_1,
.sect_5_p_shape_2 {
	display: none;
}

/*-- /Section 5 - Product Page --*/

/*-- Section 1 - Contacts Page --*/

.sect_1_contacts {
    padding-top: 15px;
}

.contacts_shape_1,
.contacts_shape_2,
.contacts_shape_3 {
	display: none;
}

.contacts_templ {
    padding: 13px 0 2px 0;
}

.contacts_templ > .left_col {
    width: 100%;
}

.contacts_templ > .right_col {
    width: 100%;
}

.form_wrapp {
    padding: 8px 0;
}

.number_img {
	width: 100%;
    max-width: 157px;
    height: 62px;
}

/*-- /Section 1 - Contacts Page --*/

/*-- Section 1 - Payment Page --*/

.faq_shape_1,
.faq_shape_2,
.sect_1_shape_11 {
	display: none;
}

.faq_article.payment_article {
	text-align: left;
}

.payment_article .faq_article_title {
    margin: 48px 0 20px 0;
    text-align: left;
}

.payment_article .faq_article_title:after {
    width: 136px;
    margin: 21px 0 10px 0;
}

.payment_item {
	align-items: center;
	--webkit-align-items: center;
}

.payment_item p {
    font-size: 16px;
    line-height: 23px;
}

.payment_article.faq_article > .left_col > img {
    left: 0;
}

/*-- /Section 1 - Payment Page --*/

/*-- Section 1 - Delivery Page --*/

.del_thumb p {
    font-size: 16px;
    line-height: 24px;
}

/*-- /Section 1 - Delivery Page --*/

}

@media only screen and (max-width: 767px) {

.novisible_767 {
	display: none;
}

.visible_767 {
	display: block;
}

/*-- Section 7 - Main Page --*/

.sect_7 {
    padding: 31px 0 56px;
}

.faq_article {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	text-align: center;
}

.faq_article > .left_col {
    width: 285px;
    margin: 0 auto;
}

.faq_article > .right_col {
    width: 100%;
}

.faq_article_title {
    margin: 5px 0 20px 0;
    text-align: center;
}

.faq_article_title:after {
    width: 136px;
    margin: 21px auto 10px auto;
}

.faq_article_title h2 {
    font-size: 32px;
    line-height: 42px;
}

.dropdown_item {
    margin-bottom: 20px;
}

.dropdown_item_title h3 {
    font-size: 14px;
    line-height: 22px;
}

.dropdown_item_content {
    margin-top: 20px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 4 - Product Page --*/

.sect_4_product {
	background: radial-gradient(69.18% 82.68% at 50.13% 50%, #F5F6FF 0%, #F8F8F8 100%);
}

.num_thumb {
    width: 100%;
    margin: 10px 55px;
}

.article_2_list li {
    padding: 0 56px 0 18px;
    font-size: 14px;
    line-height: 22px;
}

/*-- /Section 4 - Product Page --*/

/*-- Section 5 - Product Page --*/

.lists_item_title {
    margin: 15px 0;
    padding: 10px 20px;
}

.lists_item_title h3 {
    font-size: 20px;
    line-height: 29px;
}

.lists_item li {
	align-items: center;
	-webkit-align-items: center;
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
}

.list_num {
    margin-right: 35px;
    font-size: 20px;
    line-height: 26px;
}

.lists_item_content {
    margin: 17px 0;
    padding: 26px 40px 26px 40px;
}

/*-- /Section 5 - Product Page --*/

/*-- Section 1 - Delivery Page --*/

.del_thumbs {
    margin: 23px 0 0 0;
}

.del_thumb {
    width: 100%;
    margin: 15px 0;
    padding: 19px 19px 24px 19px;
}

/*-- /Section 1 - Delivery Page --*/

/*-- Section 1 - Articles Page --*/

.sect_1_articles {
    padding: 30px 0 19px 0;
}

.tabs_wrapp_2 {
    padding-top: 0;
}

/*-- /Section 1 - Articles Page --*/

/*-- Footer --*/

.footer_section {
    background-image: url(img/footer_shape_resp.png);
    padding: 26px 0 79px 0;
}

.footer_templ > div:nth-child(1) {
    width: 42%;
    padding: 10px 5px 10px 0;
}

.footer_templ > div:nth-child(2) {
    width: 58%;
    padding: 10px 0 10px 5px;
}

.footer_templ .soc_list_wrapp_2 h3 {
	padding: 2px 0;
}

.logo_footer_resp {
    display: block;
}

.logo_footer_resp .logo_footer {
	width: 200px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 740px) {

/*-- Section 3 - Main Page --*/

.thumb {
    min-height: 392px;
    padding: 26px 0 20px;
}

.thumb_poster_wrapp {
    width: 237px;
    height: 246px;
}

.slide_title {
    padding: 23px 0 21px;
}

.slide_title h3 {
    font-size: 24px;
    line-height: 29px;
}

.slick-current .thumb .slide_title {
    padding: 22px 0 12px;
}

.slick-current .thumb .slide_title h3 {
    font-size: 36px;
    line-height: 44px;
}

.slick-current .thumb .thumb_poster_wrapp {
    width: 271px;
    height: 285px;
}

.thumb img {
    min-width: 100%;
    min-height: 100%;
    max-width: auto;
    max-height: auto;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4_product {
    padding: 31px 0 32px 0;
}

.slider_templ {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.slider_templ > .left_col {
    width: 100%;
    padding: 10px 0;
    order: 2;
}

.slider_templ > .right_col {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    order: 1;
}

.good_miniature_slider {
    margin: 23px 30px 20px 30px;
}

.good_miniature_slider .slick-prev {
    left: -32px;
}

.good_miniature_slider .slick-next {
    right: -32px;
}

.article_3 p {
    padding: 11px 0;
    font-size: 14px;
    line-height: 21px;
}

.single_title_h2.single_title_h2_4 {
    margin-bottom: 2px;
}

p.num_thumb_val {
    font-size: 64px;
    line-height: 78px;
}

.num_thumbs {
    margin: 0;
}

.num_thumb {
    margin: 4px 0;
}

/*-- /Section 4 - Main Page --*/

}

@media only screen and (max-width: 600px) {

h3 {
    font-size: 16px;
    line-height: 23px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

/*-- Section 1 - Main Page --*/

.article {
    margin: 5px 0;
}

.article h2 {
    padding: 18px 0;
    font-size: 24px;
    line-height: 30px;
}

.article p {
    padding: 9px 0;
    font-size: 14px;
    line-height: 20px;
}

.article p.blue {
	padding-top: 36px;
}

.main_video_sect {
    margin: 0 auto;
}

.main_video {
    height: 198px;
}

.logo_link {
    height: 40px;
    margin: 7px 0;
}

.logo_link img {
    max-width: 160px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5 {
    padding: 6px 0 20px 0;
}

.gradient_thumb {
    width: calc(100% - 14px);
}

.gradient_thumb.big .gradient_thumb_descript h3 {
    font-size: 24px;
    line-height: 29px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6 {
    padding: 40px 0 40px 0;
}

.rew_pill {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	position: relative;
	padding: 12px 25px 15px 25px;
}

.rew_pill span {
	display: block;
	width: 100%;
}

.rew_mail {
    padding-left: 0;
    font-size: 16px;
}

.rew_pill .arrow_right_white {
	width: 39px;
    height: 11px;
	position: absolute;
	top: 25px;
	right: 20px;
}

.testimonial_2 .testimonial_header h3 {
    padding: 4px 0;
    font-size: 14px;
    line-height: 19px;
}

.testimonial_2 .testimonial_text p {
    padding: 4px 0;
    font-size: 14px;
    line-height: 19px;
}

.single_title_h2_2 h2 {
	text-align: center;
    font-size: 32px;
    line-height: 42px;
}

.single_title_h2.single_title_h2_2:after {
	max-width: 165px;
	margin: 18px auto 10px auto;
}

.header_two_cols > .right_col {
	padding-top: 10px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 4 - Product Page --*/

.single_title_h2_2.single_title_h2_4 h2 {
    text-align: left;
    font-size: 32px;
    line-height: 42px;
}

.single_title_h2.single_title_h2_4:after {
    max-width: 130px;
    margin: 10px 0 0 0;
}

.rate_it_wrapp {
    padding: 2px 0 0 0;
}

.transparent_pill {
    padding: 4px 13px;
}

/*-- /Section 4 - Product Page --*/

/*-- Section 1 - Payment Page --*/

.sect_1_payment {
    padding: 51px 0 49px 0;
}

.payment_items {
    padding: 8px 0 10px 0;
}

.payment_item p {
	font-size: 14px;
    line-height: 21px;
}

/*-- /Section 1 - Payment Page --*/

/*-- Section 1 - Delivery Page --*/

.del_thumb p {
    font-size: 14px;
    line-height: 21px;
}

/*-- /Section 1 - Delivery Page --*/

}

@media only screen and (max-width: 480px) {

/*-- Section 3 - Main Page --*/

.thumb {
	width: 270px;
	margin: 0 auto;
}

.thumb:before {
	display: none;
}

.slider_1_wrapp {
	margin: 14px 0 17px 0;
    padding: 0 0 22px 0;
}

.slick-current .thumb .slide_title {
    padding: 16px 0 24px;
}

.slider_1 .slick-prev {
    left: calc(50% - 54px);
    top: 390px;
}

.slider_1 .slick-next {
    right: calc(50% - 54px);
    top: 390px;
}

.slider_1 .slick-arrow img {
    height: 24px;
}

.slick-current .thumb .slide_title h3 {
    font-size: 32px;
    line-height: 38px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 3 - Product Page --*/

.video_big_wrapp {
    margin: 34px 0 33px 0;
}

.video_big {
    height: 200px;
}

/*-- /Section 3 - Product Page --*/

/*-- Section 4 - Product Page --*/

.article_2_list {
    margin: 5px 0 3px 0;
}

.article_2_list li {
	width: 100%;
	text-align: center;
   	padding: 10px 0 22px 0;
    font-size: 14px;
    line-height: 22px;
}

.article_2_list li:after {
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

/*-- /Section 4 - Product Page --*/
	
}

@media only screen and (min-width: 901px) {
/*-- Header --*/
.res_header {
	display: none !important;
}
.resp_nav {
	display: none !important;
}
/*-- /Header --*/
}